@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
  background: #0c131f;
  background: url(../../public/images/fondgare.jpg) center/cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}
